.body1{    
    height: 100rem;
}
.cards1{
    background-color: rgb(102, 33, 139);
}
.color1{
    background-color: rgba(115, 72, 232, 0.694);
}
.color2{
    background-color: rgba(246, 156, 243, 0.558);
}
.hcien{
    height:100%
}
.h-25{
    height: 25%;
}
.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;   
  }